*{
    margin: 0;
    padding: 0;
}
.navbar{
    display: flex;
    justify-content: center;
    background-color: black;  
    position: fixed;
    width: 100%;
}
a{
    text-decoration: none;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 30px;
    font-weight: 500;
    font-size: x-large;

}
a:hover{
    text-decoration: underline;
}
.container{
    background: url('books-bg.jpg');
    height: 100vh;
    display: flex;
}
h1{
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 10px;   
}
h3{
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    margin-top: 10px;  
}
p{
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: larger; 
    margin-top: 10px;   
}
.info{
    margin-left: 10%;
    margin-right: 30%;
    margin-top: 50px;
}
.img{
    margin-top: 30px;
    margin-left: 10%;
    margin-right: 30px;
}
img{
    height: 600px;
    width: 400px;
    border-radius: 40px;
}
h2{
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    margin-top: 40px;  
}

.btn1{
    background-color:rgb(238, 34, 238);
    color:white;
    font-size: medium;
    height: 50px;
    width: 100px;
    border: none;
    font-weight: 200px;
    margin-top: 30px;
}
.btn1:hover{
    background-color:rgb(187, 31, 187);
    
}
.btn2{
    background-color: white;
    height: 50px;
    width: 100px;
    border: none;
    font-size: medium;
    font-weight: 200px;
}
.btn2:hover{
    background-color: rgb(209, 207, 201);
}
.yes{
    width: 100%;
    height: 70px;
    background-color: white;
}
.main {
    display: flex;
    justify-content: center;
}
.main2{
    display: flex;
    justify-content: center;
}
.book{
    height: 500px;
    width: 300px;
    margin: 40px;
}
.box{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}
h4{
    font-size:x-large;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 40px;
    margin-top: 5px;
}
footer{
    display: flex;
    justify-content: center;
    margin-left: 50%;
    margin-right: 50%;
}
.icon{
    height: 70px;
    width: 70px;
    border: none;
    border-radius: 10px;
    background-color: transparent;
    margin: 20px;
    padding: 10px;
}
.icon:hover{
    background-color: black;
}